/*  */
@font-face {
  font-family: 'spendify';
  src: local('spendify'), url(./fonts/Courgette-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'spendifyParagraph';
  src: local('spendify'), url(./fonts/segoeui.ttf) format('truetype');
}